<!DOCTYPE html>
<html>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    h3{
        text-align :left;
        margin : 30px 0px;
    }

    .content-list{
        margin-left: 0px;
        padding-left: 0px;
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);
        gap: 25px 20px;
    }
</style>        

<div class="content-row">
    <h3 class="content-title">검색 결과 (9 건)</h3>
    <ul class="content-list">
        {% include 'book.html' %}
        {% include 'book.html' %}
        {% include 'book.html' %}
        {% include 'book.html' %}
        {% include 'book.html' %}
        {% include 'book.html' %}
        {% include 'book.html' %}
        {% include 'book.html' %}
        {% include 'book.html' %}
    </ul>
</div>

