<style>
    .searchTable{
        margin: 30px auto;
        width:700px;
        border-collapse: collapse;
    }

    #head-title{
        width:70%;
    }

    th, td{
        padding:15px 10px;
        border-bottom: 1px solid #ddd;
    }

    .tableRow:hover {background-color: #fd994080;}

</style>

<table class="searchTable">
    {% include '/bookInfo/profileCell.html' %} 
    {% include '/bookInfo/profileCell.html' %} 
    {% include '/bookInfo/profileCell.html' %} 
    {% include '/bookInfo/profileCell.html' %}
    {% include '/bookInfo/profileCell.html' %} 
</table>