<style>
    .searchTable{
        margin: 30px auto;
        width:700px;
        border-collapse: collapse;
    }
    
    th, td{
        padding:15px 10px;
        border-bottom: 1px solid #ddd;
    }

    .tableRow:hover {background-color: #fd994080;}

</style>

<table class="searchTable">
    {% for i in  range(bookShareList | length) %}
    <tr class="tableRow" name='{{loop.index}}'> 
        <td class="profileRow">
            <span class="material-symbols-outlined profileIcon">account_circle</span>
            <div class="profile">
                <div class="name">{{bookShareList[i]['nickname']}}</div>
                <div class="mail">{{bookShareList[i]['email']}}</div>
                <input type="hidden" id="lat_{{loop.index}}" value='{{bookShareList[i]['lat']}}'>
                <input type="hidden" id="long_{{loop.index}}" value='{{bookShareList[i]['long']}}'>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>