<style>
    .reviewTable{
        margin: 0px auto;
        width:100%;
        border-collapse: collapse;
    }

    th, td{
        padding:15px 10px;
        border-bottom: 1px solid #ddd;
    }

    .name, .review_rate{
        display: inline-block;
    }
    
    .name{
        margin-right:5px;
    }
    .profileIcon{
        vertical-align: top;
    }
    .review{
        width:880px;
        overflow:hidden;
        word-wrap:break-word;
    }

</style>

<table class="reviewTable">
    {% for i in  range(reviewList | length) %}
    <tr class="reviewRow"> 
        <td class="bookTitle">
            <span class="material-symbols-outlined profileIcon">account_circle</span>
            <div class="profile">
                <div class="name">{{reviewList[i]['nickname']}}</div> <div class="review_rate">✨{{reviewList[i]['rating'] | float | round(1) }}</div>
                <div class="review">{{reviewList[i]['review']}}</div>
            </div>
        </td>
    </tr>
    {% endfor %}

</table>