<style>
    .searchTable{
        margin-bottom: 30px;
        margin-left:auto;
        margin-right:auto;
        width:700px;
        border-collapse: collapse;
    }

    #head-title{
        width:70%;
    }

    th, td{
        padding:15px 10px;
        border-bottom: 1px solid #ddd;
    }

    .tableRow:hover {background-color: #fd994080;}

</style>

<table class="searchTable">
    <th id="head-title">제목</th>
    <th id="head-author">저자</th>
    <tr class="tableRow"> 
        <td class="bookTitle">해리포터 마법사의 돌</td>
        <td class="bookAuthor">author</td>
    </tr>
    <tr class="tableRow"> 
        <td class="bookTitle">해리포터 비밀의 방</td>
        <td class="bookAuthor">author</td>
    </tr>
    <tr class="tableRow"> 
        <td class="bookTitle">해리포터 아즈카반의 죄수</td>
        <td class="bookAuthor">author</td>
    </tr>
    <tr class="tableRow"> 
        <td class="bookTitle">해리포터 불의 잔</td>
        <td class="bookAuthor">author</td>
    </tr>
</table>