<style>
    .searchTable{
        margin-bottom: 30px;
        margin-left:auto;
        margin-right:auto;
        width:700px;
        border-collapse: collapse;
    }

    #head-title{
        width:70%;
    }

    th, td{
        padding:15px 10px;
        border-bottom: 1px solid #ddd;
    }

    .tableRow:hover {background-color: #fd994080;}

</style>

<table class="searchTable">
    <th id="head-title">제목</th>
    <th id="head-author">저자</th>
    {% include '/share/bookCell.html' %}
    {% include '/share/bookCell.html' %}
    {% include '/share/bookCell.html' %}
</table>