<style>
    .searchTable{
        margin-bottom: 30px;
        margin-left:25px;
        margin-right:auto;
        width:700px;
        border-collapse: collapse;
    }

    tbody{
        margin-left:auto;
        margin-right:auto;
    }

    #head-title{
        width:70%;
    }

    th, td{
        padding:15px 10px;
        border-bottom: 1px solid #ddd;
    }

    .tableRow:hover {background-color: #fd994080;}

</style>

<table class="searchTable" hidden>
    <tbody class="bookList">
        <th id="head-title">제목</th><th id="head-author">저자</th>
    </tbody>
</table>