<link rel="stylesheet" href="/static/css/defaultModal.css">
<script>
$(document).ready(function(){
    $("#shareBtn").click(function(){
        $("#myModal").css('display', 'block');
    });

    $("#close").click(function(){
        $("#myModal").css('display', 'none');
    });

    $(document).keydown(function(event) {
        if ( event.keyCode == 27 || event.which == 27 ) {
            $(".modal").css('display', 'none');
        }
    });	

    $("#searchForm").on("submit", function (event) {
        event.preventDefault();
        $.ajax({
            url: "{{url_for('searchShareBook')}}",
            type: "POST",
            data: { searchWord : $("#searchWord").val()},
            success: function (result) {
                $('.searchTable').css('display','inline-table');
                $(".bookList").append(result.toString());
            }
        });
    })

});

</script>
<style>
    #searchModal-content{
        width: 750px;
        min-width: 750px;
        max-width: 750px;
    }

    .searchTitle{
        margin-left:9px;
    }

    #searchForm{
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width : 700px;
        border : 1px solid #BFBFBF;
        padding : 10px 15px;
    }

    span{
        width:30px;
        vertical-align: middle;
    }

    .field{
        font-size : 18px;
        width: 660px;
        line-height:24px;
        border-color: transparent;
        box-sizing : border-box;
    }

    .field:focus{
        outline: none;    
    }    
</style>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content" id="searchModal-content">
      <span id="close" class="close">&times;</span>
        <div class="space">
        <h3 class="searchTitle">도서 검색하기</h3>
            <form id="searchForm" >
                <span class='material-symbols-outlined'>Search</span>
                <input type="text" class="field" id="searchWord" name="searchWord">
            </form>
        </div>
        {% include '/share/bookTable.html' %}
    </div>
  
</div>